/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('https://wallpapercave.com/wp/ew0V5jf.jpg') no-repeat center center fixed;
    background-size: cover;
}

.header-name h1 {
    margin-left: 1rem;
    font-size: 1.6em;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}

.navbar-name {
    margin: 0;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
}

nav a:hover {
    color: #00b4d8;
    transition: color 0.3s ease-in-out;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideInLeft 1s ease-in-out;
}

.about-info {
    max-width: 60%;
}

.photo img {
    max-width: 250px;
    max-height: 175px;
    object-fit: cover; /* Ensure the image covers the square area */
    border-radius: 10px; /* Optional: Add a rounded corner effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding box shadow for a subtle effect */
    transition: transform 0.3s ease-in-out; /* Adding smooth hover effect */
    margin-bottom: -2.7rem;
    margin-right: 1.5rem;
}

.photo img:hover {
    transform: scale(1.1); /* Scale up the image slightly on hover */
}

section {
    padding: 20px;
    max-width: 950px;
    margin: 20px auto;
    animation: fadeIn 1s ease-in-out;
}

.section-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideUp 1s ease-in-out;
}

h2 {
    position: relative;
    color: #00b4d8;
}

h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: #00b4d8;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    margin: 0;
    font-size: 1.5em;
    color: #00b4d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project span {
    font-size: 0.8em;
    color: #777;
}

.project a {
    color: #00b4d8;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
    transition: text-decoration 0.3s ease-in-out;
}

.profile-list {
    list-style: none;
    padding: 0;
}

.profile-list li {
    margin-bottom: 10px;
}

.profile-list li a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    padding-left: 25px;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.profile-list li a i {
    position: absolute;
    left: 0;
    font-size: 1.2em;
    top: 50%;
    transform: translateY(-50%);
}

.profile-list li a:hover {
    color: #00b4d8;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #00b4d8;
    transition: color 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInLeft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slideUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}
